<% include ../../partials/users/header.ejs %>
<div class="ui center aligned very padded container segment">
    <h1 class="ui header">
        <img src="/images/uc.png" style="width: 60%">
    </h1>
</div>
    <% include ../../partials/users/footer.ejs %>
