<% include ../partials/header.ejs %>
    <div class="ui link segment" style="width:90%; margin-left:5%;">
        <div class="ui header">Rules &amp; Regulations</div>
        <div class="ui list">
            <div class="item">
                <i class="user icon"></i>
                <div class="content">
                    One Player, One Account. Whoever breaks this rule will be banned from betting.
                </div>
            </div>
            <div class="item">
                <i class="user circle outline icon"></i>
                <div class="content">
                    Admin is God. He is omnipresent, omnipotent, omniscient, and omnibenevolent. Do not mess with him.
                </div>
            </div>
            <div class="item">
                <i class="lightning outline icon"></i>
                <div class="content">
                    <strong>Double Dhamaka: </strong> A player can bet on both sides playing a match.
                </div>
            </div>
            <div class="item">
                <i class="rocket outline icon"></i>
                <div class="content">
                    <strong>Sky is the Limit: </strong> A player can place as many bets as he wants till the closing time. All match-level bets closes half an hour prior to the scheduled toss time.
                </div>
            </div>
            <div class="item">
                <i class="money outline icon"></i>
                <div class="content">
                    <strong>Think Big... Earn Big...: </strong> Long term bets can be placed during the designated windows.
                </div>
            </div>
            <div class="item">
                <i class="money outline icon"></i>
                <div class="content">
                    <strong>1k Funda: </strong> Minimum bet amount as well as minimum transfer amount is capped to a lowest of 1000/-
                </div>
            </div>
            <div class="item">
                <i class="bar chart outline icon"></i>
                <div class="content">
                    <strong>Be Creative: </strong> There will be multiple pots available per match. You can bet on any/all of them. Be creative to maximize profit.
                </div>
            </div>
            <div class="item">
                <i class="remove outline icon"></i>
                <div class="content">
                    <strong>Think Before You Leap: </strong> A bet once placed cannot be withdrawn.
                </div>
            </div>
            <div class="item">
                <i class="warning sign outline icon"></i>
                <div class="content">
                    <strong>No Social Media Buttering: </strong> No bets will be added after cut-off time. Admin will not entertain any such requests via phone, WhatsApp, Facebook, etc.
                </div>
            </div>
            <div class="item">
                <i class="spy outline icon"></i>
                <div class="content">
                    <strong>Keep Your Ethics at Check: </strong> We know you're smart. But hacking the website isn't one of the way to showcase it.
                </div>
            </div>
            <div class="item">
                <i class="dollar outline icon"></i>
                <div class="content">
                    <strong>You are Rich: </strong> We are giving you 25k to begin your betting endeavour.
                </div>
            </div>
            <div class="item">
                <i class="cocktail outline icon"></i>
                <div class="content">
                    <strong>Be the Wolf of Betstreet: </strong> You know it's not real money. Don't be shy to spend lavishly.
                </div>
            </div>
            <div class="item">
                <i class="users outline icon"></i>
                <div class="content">
                    <strong>Be a Sport: </strong> Each team gets participation points for each member participating in betting. The winner takes home a kitty of points for his team as well.
                </div>
            </div>
            <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                    If you found an issue with the portal, mail to <a href="mailto:lallu.anthoor@sap.com">lallu.anthoor@sap.com</a>
                </div>
            </div>
            <div class="item">
                <i class="linkify icon"></i>
                <div class="content">
                    <a href="http://www.iplbet.herokuapp.com">iplbet.herokuapp.com</a>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
