<% include ../partials/admin/header.ejs %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      We're sorry we can't process your request.
    </div>
    <p>Please try again.
    </p>
  </div>
  <% include ../partials/admin/footer.ejs %>