<script>
    $('.dropdown').dropdown();
</script>

<div class="ui modal">
    <div class="header"><i class="red remove icon"></i> Error</div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui button" onClick="$('.modal').modal('hide');">OK</div>
    </div>
</div>
</body>

</html>